body {
  font-family: "Poppins", sans-serif !important;
}

main {
  background-color: #13505b !important;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6px;
}

label {
  cursor: pointer;
}

.Stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
}

.big-text {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .big-text {
    font-size: 3rem;
  }
  #map-container {
    width: 100% !important;
    height: 100% !important;
  }
  .usage-wrapper {
    width: 100%;
  }
  h2 {
    text-align: center;
  }
}

.elipse-1 {
  border-radius: 50%;
  width: 860px;
  height: 700px;
  background-color: #119da4;
  overflow: hidden;
  align-self: flex-end;
  justify-self: flex-end;
  position: fixed;
  top: 70%;
  left: 60%;
  z-index: 1;
}

.elipse-2 {
  border-radius: 50%;
  width: 790px;
  height: 670px;
  background-color: #119da4;
  overflow: hidden;
  align-self: flex-end;
  justify-self: flex-end;
  position: fixed;
  top: 80%;
  right: 60%;
  z-index: 1;
}

.header {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 5%;
}

th {
  width: 40%;
  background-color: #119da4;
  color: white;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
}

td {
  background-color: #f9f9f9;
  border: solid 1px #d7d9ce;
  padding: 0.5rem;
  font-size: 12px;
  font-weight: bold;
}

.charts {
  width: 100%;
  color: white;
  background-color: #119da4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.ranking {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 36px !important;
  font-weight: bold !important;
}

.usage {
  font-size: 24px;
  font-weight: bold;  
  text-align: center;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

